DATABASE_URL=postgresql+psycopg://postgres.projectref:YOUR_PASSWORD@aws-0-us-east-1.pooler.supabase.com:5432/postgres
SECRET_KEY=YOUR_SECRET
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
N8N_BASE_URL=https://tu-proyecto.app.n8n.cloud
N8N_API_KEY=tu_n8n_api_key
N8N_API_VERSION=v1
N8N_TEMPLATE_WORKFLOW_ID=id_workflow
N8N_PROJECT_ID=id_proyecto
